<div id="history-container">
    <div class="hbtnncontainer topBtnContainer">
        <h3 id="history-navigation">
            <a href="#" class="button topBtn selected" id="button-recent" onclick="history.changeTable('recent')">Recent Songs</a>
            <a href="#" class="button topBtn" id="button-popular" onclick="history.changeTable('popular')">Most Popular Songs</a>
            <a href="#" class="button topBtn" id="button-popartist" onclick="history.changeTable('popartist')">Most Popular Arists</a>
            <a href="#" class="button topBtn" id="button-popuser" onclick="history.changeTable('popuser')">Users With Most Votes</a>
        </h3>
    </div>
    
    <div class="table-container">
    
    </div>

</div>