<!DOCTYPE HTML>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="MetalMichael" />

    <link rel="stylesheet" href="{tag:STATIC_SERVER /}styles/player.css" />
    <script type="text/javascript" src="{tag:STATIC_SERVER /}functions/jquery.js"></script>
    <script type="text/javascript" src="{tag:STATIC_SERVER /}functions/player/player.js"></script>
</head>
<body>

<div id="player-container">
    <div id="player">
        <a href="#" id="pause-button"><div id="pause"></div></a>
        <div id="track-info">
            <span id="song"></span>
            <span id="artist">Artist</span>
        </div>
        <div id="time-info">
        	<div id="bar-container">           
	            <div id="current-time">0:00</div>
	            <div id="current-time-seconds" class="hidden"></div>
	            <div id="bar"><div id="current-position"></div></div>
	            <div id="end-time">0:00</div>
	            <div id="end-time-seconds" class="hidden"></div>
        	</div>
        </div>
        <div id="user-info">
            <div id="vote-container"><div id="votes"></div><br />Votes</div>
            <div id="user-info"><div id="avatar"><img /></div></div>
        </div>
    </div>

</div>

</body>