<script type="text/javascript">

</script>

<div id="maincontent">
    <div id="container">
        <div class="panel loginpanel" id="loginContainer" style="display: none;">        
        	<div class="panelbuttons" id="loginPanel">
                <div class="inputblock" id="userblock"><input id="username" type="text" size="20" /></div>
                <div class="inputblock" id="passblock"><input id="password" type="password" size="20" /></div>
        		
                <a href="#"><p class="panelforgotten">Forgot your password?</p></a>
                
                <div id="errorMessage" style="display:none;"></div>
        	</div>
            
        	<div class="panelbottom">
                <input type="button" value="Login" onclick="processLogin(); return false;" /><br/><br/>
        	</div>
        </div>
    </div>
    
    <div id="foot">
        <table width="100%" height="100%">
            <tr>
                <td align="center" valign="middle">
                    <a href="#" onclick="clickLogo();return false;">
                        <img id="logo" border="0" src="{tag:STATIC_SERVER /}images/logo.png" />
                    </a>
                    <br /><br />.: LAN Radio :.
                </td>
            </tr>
        </table>
    </div>

</div>