<div class="trackinfo">
    <div class="embedLink">
        {tag:EMBED_TAG /}
    </div>
    <div class="track-details">    
        <div class="track-title"><span class="tag">Title:</span> {tag:Title /}</div>
        <div class="track-artist"><span class="tag">Artist:</span> {tag:Artist /}</div>
        <div class="track-album"><span class="tag">Album:</span> {tag:Album /}</div>
        <div class="track-duration"><span class="tag">Length:</span> {tag:Duration /}</div>
        <div class="vote-votes"><span class="tag">Score:</span> {tag:Votes /}</div>
    </div>
    <div class="vote-info">
        <a href="//lsucs.org.uk/members/{tag:UserID /}">
            <span class="vote-avatar"><img class="avatar" src="{tag:Avatar /}" /></span>
            <span class="vote-username">{tag:Username /}</span>
        </a>
    </div>
</div>