<div id="about-page">
    <h2>About LAN Radio</h2>

    <h3>What?</h3>
    <p>
        LAN Radio is a democratic music player for LAN parties that allows everyone a fair say in what music is played. It supports music from sources such as Spotify and YouTube.
    </p>
    
    <h3>Why?</h3>
    <p>
        Originally at LANs we used <a href="http://www.blicko.com/">Blicko</a>, however this was often unstable, and forced annoying social media interractions (such as forcing you to post on your Facebook page when you added or voted for a song).
    </p>
    
    <h3>How?</h3>
    <p>
        The web frontend of the system runs on a php framework written by myself. It's designed for a much larger site and is probably overkill for this use. Here is the <a href="https://github.com/LSUCS/LAN-Radio">GitHub</a> link for anyone interested.<br />
        The backend of the system uses <a href="http://www.mopidy.com">Mopidy</a> music server, with some additional plugins written for YouTube, and to use a dynamic playlist. It utilizes GStreamer.
    </p>
    
    <h3>Who?</h3>
    <p>
        The system was written by Michael Fiford (<a href="http://lsucs.org.uk/members/metalmichael.671/">MetalMichael</a>)
    </p>
</div>