<div id="dropcanvas">
    <div id="dropzone">
        <a href="#" onclick="$('#dropcanvas').removeClass('in'); return false;" class="canvas_close"></a>
        <h3>Drop Audio File(s) To Upload</h3>
        <h4>Supported formats: MP3, M4A, WAV, FLAC, OGG</h4>
        <p>Once uploaded the file(s) will be checked manually, before being approved to be added to the local library. Upload progress can be monitored in the bottom right corner.<br />
        Max File Size: <?=Core::formatBytes(MAX_UPLOAD_SIZE)?></p>
    </div>
    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
        <div class="row fileupload-buttonbar">
            <div class="span5 fileupload-progress fade">
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <br />
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
</div>
<div id="table-container" class="box">
    <table class="voting-table">
        <thead>
            <tr>
                <th class="col0"></th>
                <th class="col1"></th>
                <th class="col2">Track</th>
                <th class="col3">Artist/Uploader</th>
                <th class="col4"></th>
                <th class="col5">Album</th>
                <th class="col6">Added By</th>
                <th class="col7"></th>
            </tr>
        </thead>
    </table>
    <div class="scrollbar">
        <div class="track">
            <div class="thumb">
                <div class="end"></div>
            </div>
        </div>
    </div>
    <div class="viewport">
        <div class="overview" id="table-goes-here">
        </div>
    </div>
</div>

<iframe id="nowplaying" width="700px" height="110px" src="/player" style="margin: auto; overflow: hidden;">
</iframe>