<div id="table-container" class="box">
    <table class="voting-table">
        <thead>
            <tr>
                <th class="col0"></th>
                <th class="col1"></th>
                <th class="col2">Track</th>
                <th class="col3">Artist/Uploader</th>
                <th class="col4"></th>
                <th class="col5">Album</th>
                <th class="col6">Added By</th>
                <th class="col7"></th>
            </tr>
        </thead>
    </table>
    <div class="scrollbar">
        <div class="track">
            <div class="thumb">
                <div class="end"></div>
            </div>
        </div>
    </div>
    <div class="viewport">
        <div class="overview" id="table-goes-here">
        </div>
    </div>
</div>
<iframe id="nowplaying" width="700px" height="110px" src="/player" style="margin: auto; overflow: hidden;"></iframe>