#history-container {
	width: 1000px;
	margin: 0 auto;
}
#history-container .table-container {
    padding-top: 15px;
    margin: auto;
}

#history-container table {
    width: 1000px;
	margin: 0 auto;
}

#history-container #history-navigation {
    text-align: center;
    display:table-row;
}

#history-container #history-navigation ul li {
    color: #000;
    padding: 0 10px;
}

.buttons{width:100%;text-align:center;margin-top: 10px;}
.buttons .button{margin-bottom: 10px;}
.hbtnncontainer{
	margin: 2px;
	overflow:auto;
	display:table-cell;
	clear:both;
}
.hbtnncontainer .button{
	clear: none !important;
	border-radius: 0;
	width: 228px;
}
.hbtnncontainer .button:first-child{
	border-top-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
}
.hbtnncontainer .button:last-child{
	border-top-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	clear: right;
}
.vbtnncontainer{
	width:100%;
	overflow:auto;
	clear:both;
}
.buttons.inner{
	float:left;
}
.vbtnncontainer .button{
	display:block;
	position:relative;
	border-radius: 0;
}
.vbtnncontainer .button:first-child{
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}
.vbtnncontainer .button:last-child{
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}
.table-container > table{

}
.table-container > table tr {
    height: 25px;
    line-height:25px;
    background: url('list-item.png') 0px 0px;
    display: block;
    position: relative;
    -moz-box-shadow: 1px 1px 5px #888;
    -webkit-box-shadow: 1px 1px 5px #888;
    box-shadow: 1px 1px 5px #888;
}
.table-container > table tr.even {
    background-position: 0px 50px;
}
.table-container > table .selected, .table-container > table tr:hover {
    background-position: 0px 25px !important;
    color:#FFFFFF;
}
.table-container > table thead tr {
    display:table-row;
    cursor:default;
}
.table-container > table tbody td {
	text-overflow:ellipsis;
	display:table-cell;
}
.table-container > table th {
    background: url('list-header.png');
    font: bold 11px 'Helvetica Neue',Arial,sans-serif;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase;
    line-height: 22px;
    padding: 0 5px;
    text-align: left;
}