body {
    font-family:Arial, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 18px;
    margin: 0;
    width: 700px;
    height: 110px;
    overflow: hidden;
}
.hidden {
    display: none;
}
#player-container {
    position:relative; 
    width: 700px;
    height: 110px;
}
#pause {
    display: inline-block;
    margin: 10px 0 10px 20px;
    width: 80px;
    height: 80px;
    position: relative;
    background: #F25D23;
    border-radius:50%;
    background-image: url(../images/play.png);
    background-position:32px center;
    background-repeat: no-repeat;
}
#track-info{
	text-align:left;
	text-indent:5px;
	font-size:14px;
	position:absolute;
	left: 110px;
    top: 15px;
    vertical-align:bottom;
}
#song {
    float:left;
    font-size: 28px;
    font-weight:bold;
    line-height:36px;
    max-width:300px;
    height:36px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
#song:not(:empty) ~ span::before{
    content: " - ";
    margin-left:5px;
}
#song:empty ~ span{
    font-size: 32px;
    font-weight:bold;
    line-height:36px;
}
#artist {
	float:left;
    font-size: 14px;
    line-height:36px;
    max-width:150px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
#time-info{
    position:absolute;
    top: 45px;
    left: 110px;
}
#bar-container {
    display: inline-block;
    margin-top: 2px;
    height: 30px;
    line-height:19px;
}
#bar {
    display: inline-block;
    width: 350px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border:1px solid #000000;
    border-radius:0.3em;
    position:relative;
    top: 2px;
    overflow:hidden;
}
#current-position {
    background:#F25D23;   
    width: 0%;
    height: 100%;    
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
}
#current-time, #end-time {
    display: inline-block;
    padding: 5px;
}
#user-info{
    position:absolute;
    right: 0;
    top: 0;
}
#avatar{
    position:absolute;
    top: 20px;
    right: 55px;
    width: 60px;
    height: 60px;
    display:block;
    border:1px solid #000000;
    border-radius:0.3em;
    background-color:#EEEEEE;
    overflow:hidden;
}
#avatar img{
    width:100%;
    height:100%;
}
#vote-container{
    position:absolute;
    top: 5px;
    right: 5px;
    text-align:center;
}
#vote-container #votes{
    position:absolute;
    bottom:-25px;
    text-align:center;
    width:100%;
}