#search {
    display: none;
    overflow: hidden;
    color:#000000;
    background-color:#f25d23;
    position: absolute;
    right: 5%;
    top: 40px;
    border: 5px solid #333;
    width: 700px;
    max-height: 347px;
    z-index: 2;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

#library-buttons {
    display: inline-block;
    margin-left: 15px;
}

#library-buttons ul, #library-buttons ul li {
    display: inline;
    padding: 0 2px;
}

#library-buttons .library-icon {
    width: 25px;
    position: relative;
    top: 5px;
}

#library-buttons .library-button {
    margin-bottom: 5px;
}

#searchbox {
    position: absolute;
    right: 270px;
    top: 2px;
    float: right;
    z-index:2;
    height: 25px;
    line-height: 25px;
    padding-top: 4px;
}
#searchinput{
    padding: 0 5px 0 5px;
    text-overflow: ellipsis;
}
#searchinput.loading {
    padding-right: 25px;
}
#searchfield {
    color: #03214D;
}
#searchLoading {
    top: 9px;
    left: 258px;
}
#search-results {
	color:#ffffff;
    display: block;
    clear: both;
    padding: 10px 0;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
#search-results-table{
	color:#000000;
	width: 100%;
	clear:both;
	margin: 10px auto 10px;
	background-color:white;
}
#search-results-table tr{
	background-image:url(list-item.png);
	background-position:0 0;
}
#search-results-table tr:nth-child(even) {
  	background-position:0 54px;
}
#search-results-table tr td:nth-child(1), th:nth-child(1){
    width: 30px !important;
}
#search-results-table tr td:nth-child(2), th:nth-child(2){
	max-width:300px;
    width:300px;
}
#search-results-table tr td:nth-child(3), th:nth-child(3){
	max-width:188px;
    width:188px;
}
#search-results-table tr td:nth-child(4), th:nth-child(4){
	max-width:50px;
    width:50px;
}
#search-results-table tr td:nth-child(5), th:nth-child(5){
	max-width:200px;
    width:200px;
}
#search-results-table thead tr{
	text-align:left;
	text-indent: 5px;
	background-position: 0 53px;
	padding: 5px 0;
    height: 25px;
    line-height:25px;
    cursor:default;
}
#search-results-table tbody tr{
    cursor:pointer;
}
#search-results-table td{
	height: 25px;
	text-overflow: ellipsis;
	overflow:hidden;
	padding:0 5px;
  	vertical-align:middle;
  	white-space:nowrap;
}
#search-results-table_length{
	display:none;/*until fixed*/
	float:left;
	margin-bottom: 10px;
}
#search-results-table_filter{
	float:right;
	margin-bottom: 10px;
    margin-right:10px;
}
#search-results-table_filter input{
    padding: 0 5px;
    width:150px;
}
#search-results-table_info{
	position:absolute;
    top:10px;
    left:10px;
}
#search-results-table_paginate{
	float:right;
    margin-top:-5px;
    margin-right:25px;
    line-height:25px;
}
#search-results-table_previous{
    cursor:pointer;
    margin-right:5px;
}
#search-results-table_next{
    cursor:pointer;    
    margin-left:5px;
}
#search-results-table .search-library-icon {
    width: 20px;
    height: 20px;
}
#search-results-table tbody .selected, #search-results-table tbody tr:hover {
    background-position: 0px 27px !important;
    color:#FFFFFF;
}